<% if (typeof errors != 'undefined'){%>
<% for(let err of errors){%>
  <div class="relative px-3 py-3 mb-4 border rounded text-yellow-darker border-yellow-dark bg-yellow-lighter  opacity-0 opacity-100 block" role="alert">
      <%= err %>
      <button type="button" class="absolute pin-t pin-b pin-r px-4 py-3" data-dismiss="relative px-3 py-3 mb-4 border rounded" aria-label="Close">&times;</button>
    </div>
<% } %>
<%}%>
<% if (typeof message != 'undefined'){%>
    <div class="relative px-3 py-3 mb-4 border rounded text-yellow-darker border-yellow-dark bg-yellow-lighter  opacity-0 opacity-100 block" role="alert">
        <%= message %>
        <button type="button" class="absolute pin-t pin-b pin-r px-4 py-3" data-dismiss="relative px-3 py-3 mb-4 border rounded" aria-label="Close">&times;</button>
      </div>
<%}%>
