<% if (typeof errors != 'undefined'){%>
<% for(let err of errors){%>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= err %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
    </div>
<% } %>

<%}%>

<% if (typeof message != 'undefined'){%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
      </div>
<%}%>