<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TaskTracker - Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/dashboard-styles.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul style="z-index:10" class="flex flex-wrap list-reset pl-0 mb-0bar-nav bg-gradient-primary toggled sidebar sidebar-dark accordion fixed" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">TaskTracker</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class=" active">
                <a class="inline-block py-2 px-4 no-underline" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="">
                <a class="inline-block py-2 px-4 no-underline flex-growlapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-bars-progress"></i>
                    <span>Projects</span>
                </a>
                <div id="collapseTwo" class="flex-growlapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 flex-growlapse-inner rounded">
                        <h6 class="flex-growlapse-header">Manage projects:</h6>
                        <a class="flex-growlapse-item" href="/project">Your Projects</a>
                        <a class="flex-growlapse-item" href="/project/create">Create a Project</a>
                    </div>
                </div>
            </li>
            <li class="">
                <a class="inline-block py-2 px-4 no-underline" href="/dashboard/calendar">
                    <i class="fas fa-fw fa-calendar"></i>
                    <span>Calendar</span></a>
            </li>
            <hr class="sidebar-divider">
            <li class="">
                <a class="inline-block py-2 px-4 no-underline" href="/dashboard/friends">
                    <i class="fa-solid fa-user-group"></i>
                    <span>Friends</span></a>
            </li>
            <!-- Nav Item - Charts -->
            <li class="">
                <a class="inline-block py-2 px-4 no-underline" href="charts.html">
                    <i class="fas fa-cogs fa-sm fa-fw"></i>
                    <span>settings</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider hidden d-mblock">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center hidden d-minline">
                <button class="rounded-full border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav style="z-index:20"  class="flex flex-wrap list-reset pl-0 mb-0bar flex-no-wrap content-start navbar-light bg-white topbar static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline font-normal blue bg-transparent d-mhidden rounded-full mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Search -->
                    <form method="get" action="/search"
                        class="hidden sm:inline-block flex items-center mr-auto ml-md-3 my-2 my-md-0 mw-full flex flex-wrap list-reset pl-0 mb-0bar-search">
                        <div class="relative flex items-stretch w-full">
                            <input type="text" name="q" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded bg-grey-lightest border-0 text-sm" placeholder="Search for user..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-blue-lightest bg-blue hover:bg-blue-light" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- Topbar Navbar -->
                    <ul class="flex flex-wrap list-reset pl-0 mb-0bar-nav ml-auto">
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class=" relative no-arflex flex-wrap sm:hidden">
                            <a class="inline-block py-2 px-4 no-underline  inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1" href="#" id="searchrelative" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class=" absolute pin-l z-50 float-left hidden list-reset	 py-2 mt-1 text-base bg-white border border-grey-light rounded dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form method="get" action="/search" class="flex items-center mr-auto w-full flex flex-wrap list-reset pl-0 mb-0bar-search">
                                    <div class="relative flex items-stretch w-full">
                                        <input type="text" name="q" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded bg-grey-lightest border-0 text-sm"
                                            placeholder="Search for user..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-blue-lightest bg-blue hover:bg-blue-light" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <!-- Nav Item - Alerts -->
                        <li class=" relative no-arflex flex-wrap mx-1">
                            <a class="inline-block py-2 px-4 no-underline  inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1" href="#" id="relative px-3 py-3 mb-4 border roundedsrelative" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-user-group"></i>
                                <!-- Counter - Alerts -->
                                <span class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded text-red-darker bg-red-light badge-counter" id="friendNotificationsCount"></span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list  absolute pin-l z-50 float-left hidden list-reset	 py-2 mt-1 text-base bg-white border border-grey-light rounded dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="block py-2 px-6 mb-0 text-sm text-greay-dark whitespace-no-wrap">
                                    Friend Requests
                                </h6>
                                <div  id="friendNotifications">
                                </div>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0 text-center text-sm text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>
                        <li class=" relative no-arflex flex-wrap mx-1">
                            <a class="inline-block py-2 px-4 no-underline  inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1" href="#" id="relative px-3 py-3 mb-4 border roundedsrelative" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded text-red-darker bg-red-light badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list  absolute pin-l z-50 float-left hidden list-reset	 py-2 mt-1 text-base bg-white border border-grey-light rounded dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="block py-2 px-6 mb-0 text-sm text-greay-dark whitespace-no-wrap">
                                    Alerts Center
                                </h6>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0 flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-blue">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="text-sm text-gray-500">December 12, 2019</div>
                                        <span class="font-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0 flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-green">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="text-sm text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0 flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-yellow">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="text-sm text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0 text-center text-sm text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>
                        <!-- Nav Item - Messages -->
                        <li class=" relative no-arflex flex-wrap mx-1">
                            <a class="inline-block py-2 px-4 no-underline  inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1" href="#" id="messagesrelative" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded text-red-darker bg-red-light badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list  absolute pin-l z-50 float-left hidden list-reset	 py-2 mt-1 text-base bg-white border border-grey-light rounded dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="block py-2 px-6 mb-0 text-sm text-greay-dark whitespace-no-wrap">
                                    Message Center
                                </h6>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0 flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-full" src="img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-green"></div>
                                    </div>
                                    <div class="font-bold">
                                        <div class="truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="text-sm text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0 flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-full" src="img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="text-sm text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0 flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-full" src="img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-yellow"></div>
                                    </div>
                                    <div>
                                        <div class="truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="text-sm text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0 flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-full" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-green"></div>
                                    </div>
                                    <div>
                                        <div class="truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="text-sm text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0 text-center text-sm text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>
                        <div class="topbar-divider hidden sm:block"></div>
                        <!-- Nav Item - User Information -->
                        <li class=" relative no-arflex flex-wrap">
                            <a class="inline-block py-2 px-4 no-underline  inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1" href="#" id="userrelative" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 hidden lg:inline text-gray-600 text-sm"><%= user.username %></span>
                                <img style="object-fit:cover" class="img-profile rounded-full"
                                    src="/<%= user.picture %>">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class=" absolute pin-l z-50 float-left hidden list-reset	 py-2 mt-1 text-base bg-white border border-grey-light rounded dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0" href="/user/<%=user.id%>">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="h-0 my-2 overflow-hidden border-t-1 border-grey-light"></div>
                                <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0" href="/user/logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div> <!-- originally container-fluid-->
                    <%-body%>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container mx-auto my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; TaskTracker 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal opacity-0" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="absolute pin-t pin-b pin-r px-4 py-3" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-grey-lightest bg-grey hover:bg-grey-light" type="button" data-dismiss="modal">Cancel</button>
                    <a class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-blue-lightest bg-blue hover:bg-blue-light" href="/user/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js" integrity="sha512-mULnawDVcCnsk9a4aG1QLZZ6rcce/jSzEGqUkeOLy0b6q0+T6syHrxlsAGH7ZVoqC93Pd0lBqd6WguPWih7VHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Page level custom scripts -->
    <script src="/js/longPolling.js"></script>
</body>
</html>
