<!-- <div class="card mt-5 col-6">
    <div class="card-body">
      <%- include('partials/errors')%>
       <form action="/user/login" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
              class="form-control" name="username" id="username" aria-describedby="errorUsername" placeholder="username">
            <small id="errorUsername" class="form-text text-danger "><%= (typeof errorUsername != 'undefined')?errorUsername:''%></small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
              class="form-control" name="password" id="password" aria-describedby="errorPassword" placeholder="password">
            <small id="errorPassword" class="form-text text-danger"><%= (typeof errorPassword != 'undefined')?errorPassword:''%></small>
          </div>
          <button type="submit" class="btn btn-success mt-4">Login</button>
       </form>
    </div>
</div> -->

<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="p-5">
                  <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <%- include('partials/errors') %>
                  <form method="post" action="/user/login" class="user">
                      <div class="form-group">
                          <input type="text" class="form-control form-control-user"
                              id="exampleInputEmail" aria-describedby="emailHelp"
                              placeholder="Enter Email Username..." name="username">
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control form-control-user"
                              id="exampleInputPassword" placeholder="Password" name="password">
                      </div>
                      <div class="form-group">
                          <div class="custom-control custom-checkbox small">
                              <input type="checkbox" class="custom-control-input" id="customCheck">
                              <label class="custom-control-label" for="customCheck">Remember
                                  Me</label>
                          </div>
                      </div>
                      <button type="submit" class="btn btn-primary btn-user btn-block">
                          Login
                      </button>
                      
                  </form>
                  <hr>
                  <div class="text-center">
                      <a class="small" href="forgot-password.html">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                      <a class="small" href="/register">Create an Account!</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>