<!-- <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-grey-light mt-5 w-1/2">
    <div class="flex-auto p-6">
      <%- include('partials/errors')%>
       <form action="/user/login" method="post">
        <div class="mb-4">
            <label for="username">Username</label>
            <input type="text"
              class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded" name="username" id="username" aria-describedby="errorUsername" placeholder="username">
            <small id="errorUsername" class="block mt-1 text-red "><%= (typeof errorUsername != 'undefined')?errorUsername:''%></small>
          </div>
          <div class="mb-4">
            <label for="password">Password</label>
            <input type="password"
              class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded" name="password" id="password" aria-describedby="errorPassword" placeholder="password">
            <small id="errorPassword" class="block mt-1 text-red"><%= (typeof errorPassword != 'undefined')?errorPassword:''%></small>
          </div>
          <button type="submit" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-green-lightest bg-green hover:bg-green-light mt-4">Login</button>
       </form>
    </div>
</div> -->
<div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-grey-light o-hidden border-0 shadow-lg my-5">
  <div class="flex-auto p-6 p-0">
      <!-- Nested Row within Card Body -->
      <div class="flex flex-wrap justify-content-center">
          <div class="lg:w-1/2 pr-4 pl-4">
              <div class="p-5">
                  <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <%- include('partials/errors') %>
                  <form method="post" action="/user/login" class="user">
                      <div class="mb-4">
                          <input type="text" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded form-control-user"
                              id="exampleInputEmail" aria-describedby="emailHelp"
                              placeholder="Enter Email Username..." name="username">
                      </div>
                      <div class="mb-4">
                          <input type="password" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded form-control-user"
                              id="exampleInputPassword" placeholder="Password" name="password">
                      </div>
                      <div class="mb-4">
                          <div class="custom-control custom-checkbox text-sm">
                              <input type="checkbox" class="custom-control-input" id="customCheck">
                              <label class="custom-control-label" for="customCheck">Remember
                                  Me</label>
                          </div>
                      </div>
                      <button type="submit" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-blue-lightest bg-blue hover:bg-blue-light btn-user block w-full">
                          Login
                      </button>
                  </form>
                  <hr>
                  <div class="text-center">
                      <a class="text-sm" href="forgot-password.html">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                      <a class="text-sm" href="/register">Create an Account!</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
